%div{:id => 'form_new'}
  = link_to "New Work", new_list_path, id: "new_link", remote: true
%h2 Incomplete Works
%div{:class => "lists", :id => "incomplete_lists"}
  = render @incomplete_lists

%h2 complete Works
%div{:class => "lists", :id => "complete_lists"}= render @complete_lists