$(function(){
  
  $('#wid-task').html('<div id = "wid-form"><%= j render "inde" %></div>');
  $('#wid-task #incomplete_lists form input[type=submit]').remove();  
  /*function of controller Actions form*/
  $('#wid-task #form_new form input[type=submit]').live('click',function(e){
    e.preventDefault();
    var var_acti = $('#wid-task #form_new form').attr("action");
    var var_meth = $('#wid-task #form_new form').attr("method");
    var var_seri = $('#wid-task #form_new form').serialize();

    $.support.cors = true;
    $.ajax({
      url: "http://localhost:3000" + var_acti,
      type:"post",
      crossdomain: true,
      dateType: "jsonp",
      data: var_seri,
      success: function(resp){
        console.log(resp);
      },
      error: function(err){
        alert(err);
      }
    });
  });
  

  /*function of controller Actions list*/
  $('#wid-task #incomplete_lists form input[type=checkbox]').click(function(e){
    e.preventDefault();
    var_acti = $(this).parent('form').attr("action");
    var_meth = $(this).parent('form').attr("method");
    var_seri = $(this).parent('form').serialize();
    alert(var_meth);
    $.support.cors = true;
    $.ajax({
      url: "http://localhost:3000" + var_acti,
      type:"POST",
      crossdomain: true,
      dateType: "jsonp",
      data: var_seri,
      success: function(resp){
        console.log(resp);
      },
      error: function(err){
      }
    });
  });

/*$('#wid-task').html('<iframe src="http://localhost:3000" width="600" height="300">
  <p>Your browser does not support iframes.</p>
</iframe>');*/
});