$(function(){
  
  $('#wid-task').html('<div id = "wid-form"><%= j render "form" %></div><div id="wid-list"><%= j render @incomplete_lists %></div>');
  /*$('#wid-task').html('<div id = "wid-form"><%= j render "inde" %></div>');*/
    
  /*function of controller Actions form*/

  $('#wid-task #wid-form form input[type=submit]').live('click',function(e){
    e.preventDefault();
    var var_acti = $('#wid-task #wid-form form').attr("action");
    var var_meth = $('#wid-task #wid-form form').attr("method");
    var var_seri = $('#wid-task #wid-form form').serialize();

    $.support.cors = true;
    $.ajax({
      url: "http://localhost:3000" + var_acti,
      type:"post",
      crossdomain: true,
      dateType: "jsonp",
      data: var_seri,
      success: function(resp){
        
        
      },
      error: function(err){
        alert(err);
      }
    });
  });
  

  /*function of controller Actions list*/
  $('#wid-task #wid-form form input[type=submit]').live('click',function(e){
    e.preventDefault();
    var_acti = $('#wid-task #wid-list form').attr("action");

    $.support.cors = true;
    $.ajax({
      url: "http://localhost:3000" + var_acti,
      type:"GET",
      crossdomain: true,
      dateType: "jsonp",
      data: "",
      success: function(resp){
        $("#new_link").hide().after(resp);
        console.log(resp);
      },
      error: function(err){
      }
    });
  });




/*$('#wid-task').html('<iframe src="http://localhost:3000" width="600" height="300">
  <p>Your browser does not support iframes.</p>
</iframe>');*/
});